<body>  
  <div class="cont">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Age Calculator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Please enter year you were born</mat-card-title>   
      </mat-card-content>
      <mat-card-actions>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Year</mat-label>
            <input id="a" matInput placeholder="1995">
          </mat-form-field>
        </form>
      </mat-card-actions>
      <div class="answer" *ngIf ="calc"> 
        <p>You're Turning {{calc}} this year</p>
      </div>
      <div class="btns">
        <button mat-raised-button color="primary" (click)="age()">Calculate</button>
      </div>
    </mat-card>
    
  </div>
</body>
